<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="__ADMINCSS__ch-ui.admin.css">
	<link rel="stylesheet" href="__ADMINCS__font-awesome.min.css">
  <script type="text/javascript" src="__ADMINJS__jquery.js"></script>
    <script type="text/javascript" src="__ADMINJS__ch-ui.admin.js"></script>
</head>
<body>
	   <!--底部 开始-->
    <center><div class="bottom_box">
        CopyRight © 2015. Powered By chery
    </div></center>
    <!--底部 结束-->
</body>
</html>
