<include file="Common:head"/>


<div class="main_box">
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
        <i class="fa fa-home"></i> <a href="#">首页</a> &raquo; <a href="#">商品管理</a> &raquo; 添加商品
    </div>
    <!--面包屑导航 结束-->

    
    <div class="result_wrap">
        <form action="{:U('Goods/update')}" method="post" enctype="multipart/form-data">
        	<input type="hidden" name="goods_id" value="{$info.goods_id}" />
            <table class="add_tab">
                <tbody>
                    <tr>
                        <th width="120"><i class="require">*</i>分类：</th>
                        <td>
                            <select name="">
                                <option value="">==请选择==</option>
                                <option value="19">精品界面</option>
                                <option value="20">推荐界面</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>商品名称：</th>
                        <td>
                            <input type="text" class="lg" name="goods_name" value="{$info.goods_name}">
                            <p>标题可以写30个字</p>
                        </td>
                    </tr>
                    <tr>
                        <th>库存：</th>
                        <td>
                            <input type="text" name="goods_number" value="{$info.goods_number}" >
                           
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>原价格：</th>
                        <td>
                            <input type="text" class="sm" name="goods_price2" value="{$info.goods_price2}" >元
                        </td>
                    </tr>                    
                    <tr>
                        <th><i class="require">*</i>现价格：</th>
                        <td>
                            <input type="text" class="sm" name="goods_price" value="{$info.goods_price}" >元
                        </td>
                    </tr>
<!--                     <tr>
                        <th><i class="require">*</i>图片：</th>
                        <td><input type="file" name="goods_image"></td>
                    </tr> -->
                    <tr>
                        <th>详细内容：</th>
                        <td>
                            <textarea class="lg" name="goods_introduce">{$info.goods_introduce}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="提交">
                            <input type="button" class="back" onclick="history.go(-1)" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>