<include file="Common:head"/>

<div class="main_box">
	  <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
        <i class="fa fa-home"></i> <a href="{:U('Index/right')}">首页</a> 
    </div>
    <!--面包屑导航 结束-->

	<!--结果页快捷搜索框 开始-->
	<div class="search_wrap">
        <form action="" method="post">
            <table class="search_tab">
                <tr>
                    <th width="120">选择分类:</th>
                    <td>
                        <select onchange="javascript:location.href=this.value;">
                            <option value="">全部</option>
                            <option value="http://www.baidu.com">百度</option>
                            <option value="http://www.sina.com">新浪</option>
                        </select>
                    </td>
                    <th width="70">关键字:</th>
                    <td><input type="text" name="keywords" placeholder="关键字"></td>
                    <td><input type="submit" name="sub" value="查询"></td>
                    <td><a href="{:U('tianjia')}">添加管理员</a></td>
                </tr>
 
            </table>
        </form>
    </div>
    <!--结果页快捷搜索框 结束-->

    <!--搜索结果页面 列表 开始-->
    <form action="#" method="post">
        <div class="result_wrap">
            <!--快捷导航 开始-->
            <div class="result_content">
                <div class="short_wrap">
                    <a href="#"><i class="fa fa-plus"></i>新增</a>
                    <a href="#"><i class="fa fa-recycle"></i>批量删除</a>
                    <a href="#"><i class="fa fa-refresh"></i>更新排序</a>
                </div>
            </div>
            <!--快捷导航 结束-->
        </div>

        <div class="result_wrap">
            <div class="result_content">
                <table class="list_tab">
                    <tr>
                        <th class="tc" width="5%"><input type="checkbox" name=""></th>
                        <th class="tc">排序</th>
                        <th class="tc">ID</th>
                        <th>管理员姓名</th>
                        <th>密码</th>
<!--                         <th>控制器</th>
                        <th>操作方法</th> -->
                        <th>注册时间</th>
                        <th>角色ID</th>
                        <th>操作</th>
                    </tr>

                    <foreach name="info" key="k" item="v">
                    <tr>
                        <td class="tc"><input type="checkbox" name="id[]" value="59"></td>
                        <td class="tc">
                            <input type="text" name="ord[]" value="0">
                        </td>
                        <td class="tc">{$v.mg_id}</td>
                        <td>{$v.mg_name}</td>
                        <td>{$v.mg_pwd}</td>
                        <td>{$v.mg_time}</td>
                        <td>{$v.mg_role_id}</td>

                        <td>
                            <a href="__CONTROLLER__/update/id/{$v.mg_id}">修改</a>
                            <a href="__CONTROLLER__/delete/id/{$v.mg_id}" onclick="return confirmDele()">删除</a>
                        </td>
                    </tr>

                    </foreach>
                  
                </table>
                <script>

     function confirmDele(val){
         return window.confirm("确定要删除么？");
         }

                </script>


<div class="page_nav">
 <!-- {$pagelist} -->
</div>


            </div>
        </div>
    </form>
    <!--搜索结果页面 列表 结束-->
</div>
</body>
</html>