<div class="footer-top-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="footer-about-us">
					<h2>wei<span>商城</span></h2>
					<p>Maybe it is fate, we gather together. This acquaintance, mutual help, efforts to move on. Go to bad this step today. Very happy, very satisfied. Feeling life I have not lived in vain, I hope that you can join. Good?!</p>
					<div class="footer-social">
						<a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
						<a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
						<a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6">
				<div class="footer-menu">
					<h2 class="footer-wid-title">用户导航 </h2>
					<ul>
						<li><a href="{:U('Gwc/gwc')}">购物车</a></li>
						<li><a href="{:U('Goods/showlist')}">商品列表</a></li>
						
						<li><a href="{:U('User/index')}">个人中心</a></li>
						<li><a href="{:U('Index/index')}">首页</a></li>
					</ul>                        
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6">
				<div class="footer-menu">
					<h2 class="footer-wid-title">分类</h2>
					<ul>
						<foreach name="infoA" item="v">
						<li><a href="__MODULE__/Cate/ca/id/{$v.cate_id}">{$v.cate_name}</a></li>
						</foreach>

					</ul>                        
				</div>
			</div>
			
<!-- 			<div class="col-md-3 col-sm-6">
				<div class="footer-newsletter">
					<h2 class="footer-wid-title">注册</h2>
					<p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
					<div class="newsletter-form">
						<form action="#">
							<input type="submit" value="Subscribe">
						</form>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="copyright">
					<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.mycodes.net/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="footer-card-icon">
					<i class="fa fa-cc-discover"></i>
					<i class="fa fa-cc-mastercard"></i>
					<i class="fa fa-cc-paypal"></i>
					<i class="fa fa-cc-visa"></i>
				</div>
			</div>
		</div>
	</div>
</div> <!-- End footer bottom area -->

<script>
	var url="{:U('Index/ckname')}";
	var commenturl="{:U('Com/comment')}";
	var getComment="{:U('Com/getComment')}";
	var delComment="{:U('Com/del')}";
	var searchUrl="{:U('Search/sear')}";
	var cancelUrl="{:U('User/cancel')}";
	var updateUrl= "{:U('User/update')}";
</script>

<script src="__HOMEJS__regist.js"></script>
<!-- Latest jQuery form server -->
<script src="__HOMEJS__jquery-1.8.3.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="__HOMEJS__bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="__HOMEJS__owl.carousel.min.js"></script>
<script src="__HOMEJS__jquery.sticky.js"></script>

<!-- jQuery easing -->
<script src="__HOMEJS__jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script src="__HOMEJS__main.js"></script>
<script src="__HOMEJS__comment.js"></script>
<script src="__HOMEJS__search.js"></script>